<section class="slide slide-education" data-gradient="3">
  <div class="slide-content">
    <h2 class="slide-title">{{t "sections.education"}}</h2>

    <div class="education-grid">
      {{#each education}}
        <div class="education-card">
          <div class="education-header">
            <h3 class="education-degree">{{this.degree}}</h3>
            {{#if this.field}}
              <p class="education-field">{{this.field}}</p>
            {{/if}}
            <p class="education-institution">{{this.institution}}</p>
          </div>

          <div class="education-meta">
            {{#if this.startDate}}
              <p class="education-date">{{this.startDate}} - {{this.endDate}}</p>
            {{/if}}
            {{#if this.location}}
              <p class="education-location">{{this.location}}</p>
            {{/if}}
            {{#if this.gpa}}
              <p class="education-gpa">GPA: {{this.gpa}}</p>
            {{/if}}
          </div>

          {{#if this.highlights}}
            <ul class="education-highlights">
              {{#each this.highlights}}
                <li>{{this}}</li>
              {{/each}}
            </ul>
          {{/if}}
        </div>
      {{/each}}
    </div>
  </div>
</section>
