{{#if isMultiLanguage}}
<div class="language-switcher">
  {{#each availableLanguages}}
    {{#if (eq this ../currentLanguage)}}
      <span class="language-link active">{{this}}</span>
    {{else}}
      {{#if ../isAtRoot}}
        {{! Current page is at root, link to subdirectories }}
        <a href="{{this}}/" class="language-link">{{this}}</a>
      {{else}}
        {{! Current page is in subdirectory }}
        {{#if (eq this ../site.defaultLanguage)}}
          {{! Link to default language at root }}
          <a href="../" class="language-link">{{this}}</a>
        {{else}}
          {{! Link to other language subdirectory }}
          <a href="../{{this}}/" class="language-link">{{this}}</a>
        {{/if}}
      {{/if}}
    {{/if}}
  {{/each}}
</div>
{{/if}}
